## Data Preprocessing

In [2]:
import os
import pandas as pd
import numpy as np
import openpyxl
data_dir = '../data'

### Generating Courses Data

In [ ]:
courses = pd.read_csv(os.path.join(data_dir, 'courses.csv'))
courses.sort_values(by=['category', 'course name'], ascending=[False, True], inplace=True)
courses.reset_index(inplace=True, drop=True)
courses["course_id"] = courses.index
courses.rename(columns={"course name": "course_name"}, inplace=True)
courses = courses[["course_id", "course_name", "category"]]

In [ ]:
courses["course_id"] = courses.index
courses.rename(columns={"course name": "course_name"}, inplace=True)
courses = courses[["course_id", "course_name", "category"]]
courses["course_id"] += 1
courses.to_csv(os.path.join(data_dir, "courses.csv"), index=False)

In [3]:
courses = pd.read_csv(os.path.join(data_dir, 'courses.csv'))
courses.head()

   course_id                            course_name   category
0          1                          Art of living  Spiritual
1          2            Introduction to Bhagvadgita  Spiritual
2          3                              Pranvidya  Spiritual
3          4                              Yog Vidya  Spiritual
4          5  Mentoring School Children (Abhyudaya)     Social

### Combine all sheets in a single CSV file

In [14]:
final = pd.DataFrame(columns=['email', 'name', 'uid', 'branch', 'sem', 'course'])
final.head()

Empty DataFrame
Columns: [email, name, uid, branch, sem, course]
Index: []

In [15]:
sem3 = pd.read_csv(os.path.join(data_dir, 'sheet-1.csv'))
sem4 = pd.read_csv(os.path.join(data_dir, 'sheet-2.csv'))
sem5 = pd.read_csv(os.path.join(data_dir, 'sheet-3.csv'))
sem6 = pd.read_csv(os.path.join(data_dir, 'sheet-4.csv'))

# merge them all into final
final = pd.concat([sem3, sem4, sem5, sem6], ignore_index=True)
final.head()

,email,name,uid,branch,sem,course,category
0,shaun.dsouza@spit.ac.in,Shaun D'Souza,2021300031,COMP,1,Basics of Fire Safety,Intellectual
1,ganesh.chaudhari@spit.ac.in,Ganesh Chaudhari,2021510007,MCA,1,Basics of Fire Safety,Intellectual
2,chetan.dhandge@spit.ac.in,Chetan Dhandge,2021510010,MCA,1,Basics of Fire Safety,Intellectual
3,sudhir.gomase@spit.ac.in,Sudhir Narayan Gomase,2021510018,MCA,1,Basics of Fire Safety,Intellectual
4,vishal.padme@spit.ac.in,Vishal Devidas Padme,2021510041,MCA,1,Basics of Fire Safety,Intellectual

In [16]:
# print all unique values in sem column
print(final['sem'].unique())

[1 3 5 7 4 6 8 2]

In [17]:
final.to_csv(os.path.join(data_dir, 'final.csv'), index=False)

In [22]:
df = pd.read_csv(os.path.join(data_dir, "final.csv"))
print(df.shape)
# null values
df.isnull().sum()

(5377, 7)

email       0
name        0
uid         0
branch      0
sem         0
course      0
category    0
dtype: int64

In [12]:
orig_dir = '../data/original'
wb1 = openpyxl.load_workbook(os.path.join(orig_dir, 'odd sem 2022-23.xlsx'))
wb2 = openpyxl.load_workbook(os.path.join(orig_dir, 'even sem 2022-23.xlsx'))
wb3 = openpyxl.load_workbook(os.path.join(orig_dir, 'odd sem 2023-24.xlsx'))
wb4 = openpyxl.load_workbook(os.path.join(orig_dir, 'even sem 2023-24.xlsx'))

c1 = len(wb1.sheetnames)
c2 = len(wb2.sheetnames)
c3 = len(wb3.sheetnames)
c4 = len(wb4.sheetnames)

print("ODD SEM 2022-23: ",c1, "sheets")
print("EVEN SEM 2022-23: ", c2, "sheets")
print("ODD SEM 2023-24: ", c3, "sheets")
print("EVEN SEM 2023-24: ", c4, "sheets")

ODD SEM 2022-23:  21 sheets
EVEN SEM 2022-23:  21 sheets
ODD SEM 2023-24:  27 sheets
EVEN SEM 2023-24:  33 sheets

In [86]:
for sheet_no in range(0, 20):  
    df = pd.read_excel(
        os.path.join(data_dir, "odd sem 2022-23.xlsx"), sheet_name=sheet_no
    )
    df.columns = ["email", "name", "uid", "class", "branch", "course", "sem"]
    if sheet_no == 0:
        df.drop(16, inplace=True)
    df.drop(columns=["class"], inplace=True)
    df = df[["email", "name", "uid", "branch", "sem", "course"]]
    final = pd.concat([final, df], ignore_index=True)

In [87]:
for sheet_no in range(0, 21):
    df = pd.read_excel(
        os.path.join(data_dir, "even sem 2022-23.xlsx"), sheet_name=sheet_no
    )
    if sheet_no == 11:
        df.drop(columns=[df.columns[-1]], inplace=True)
    df.columns = ["timestamp", "email", "name", "uid", "class", "branch", "course", "sem"]
    df.drop(columns=["timestamp", "class"], inplace=True)
    df = df[["email", "name", "uid", "branch", "sem", "course"]]
    final = pd.concat([final, df], ignore_index=True)

In [ ]:
for sheet_no in range(0, 27):
    df = pd.read_excel(os.path.join(data_dir, 'odd sem 2023-24.xlsx'), sheet_name=sheet_no)
    df.columns = ['email', 'name', 'uid', 'class', 'branch', 'course', 'sem']
    df.drop(columns=['class'], inplace=True)
    df = df[['email', 'name', 'uid', 'branch', 'sem', 'course']]
    final = pd.concat([final, df], ignore_index=True)

In [ ]:
for sheet_no in range(1, 33): # skipping nptel sheet
    df = pd.read_excel(os.path.join(data_dir, 'even sem 2023-24.xlsx'), sheet_name=sheet_no)
    df.columns = ['email', 'name', 'uid', 'class', 'branch', 'course', 'sem']
    df.drop(columns=['class'], inplace=True)
    df = df[['email', 'name', 'uid', 'branch', 'sem', 'course']]
    final = pd.concat([final, df], ignore_index=True)