## Data Preprocessing

In [ ]:
import pandas as pd
import os
data_dir = 'data'

### Generating Courses Data

In [ ]:
courses = pd.read_csv(os.path.join(data_dir, 'courses.csv'))
courses.sort_values(by=['category', 'course name'], ascending=[False, True], inplace=True)
courses.reset_index(inplace=True, drop=True)
courses["course_id"] = courses.index
courses.rename(columns={"course name": "course_name"}, inplace=True)
courses = courses[["course_id", "course_name", "category"]]

In [ ]:
courses["course_id"] = courses.index
courses.rename(columns={"course name": "course_name"}, inplace=True)
courses = courses[["course_id", "course_name", "category"]]
courses["course_id"] += 1
courses.to_csv(os.path.join(data_dir, "courses.csv"), index=False)

In [ ]:
courses = pd.read_csv(os.path.join(data_dir, 'courses.csv'))
courses

### Combine all sheets in a single CSV file

In [ ]:
# even sem 2023-24.xlsx file contains 33 sheets, first one is NPTEL
final = pd.DataFrame(columns=['email', 'name', 'uid', 'branch', 'sem', 'course'])

In [ ]:
for sheet_no in range(1, 33):  # skipping nptel sheet
    df = pd.read_excel(
        os.path.join(data_dir, "odd sem 2022-23.xlsx"), sheet_name=sheet_no
    )
    df.columns = ["email", "name", "uid", "class", "branch", "course", "sem"]
    df.drop(columns=["class"], inplace=True)
    df = df[["email", "name", "uid", "branch", "sem", "course"]]
    final = pd.concat([final, df], ignore_index=True)

In [ ]:
for sheet_no in range(1, 33):  # skipping nptel sheet
    df = pd.read_excel(
    df = pd.read_excel(
        os.path.join(data_dir, "even sem 2022-23.xlsx"), sheet_name=sheet_no
    )
    df.columns = ["email", "name", "uid", "class", "branch", "course", "sem"]
    df.drop(columns=["class"], inplace=True)
    df = df[["email", "name", "uid", "branch", "sem", "course"]]
    final = pd.concat([final, df], ignore_index=True)

In [ ]:
for sheet_no in range(1, 33): # skipping nptel sheet
    df = pd.read_excel(os.path.join(data_dir, 'odd sem 2023-24.xlsx'), sheet_name=sheet_no)
    df.columns = ['email', 'name', 'uid', 'class', 'branch', 'course', 'sem']
    df.drop(columns=['class'], inplace=True)
    df = df[['email', 'name', 'uid', 'branch', 'sem', 'course']]
    final = pd.concat([final, df], ignore_index=True)

In [ ]:
for sheet_no in range(1, 33): # skipping nptel sheet
    df = pd.read_excel(os.path.join(data_dir, 'even sem 2023-24.xlsx'), sheet_name=sheet_no)
    df.columns = ['email', 'name', 'uid', 'class', 'branch', 'course', 'sem']
    df.drop(columns=['class'], inplace=True)
    df = df[['email', 'name', 'uid', 'branch', 'sem', 'course']]
    final = pd.concat([final, df], ignore_index=True)

In [36]:
final.isnull().sum()

email     0
name      0
uid       0
branch    0
sem       0
course    0
dtype: int64

In [37]:
final.head(10)

,email,name,uid,branch,sem,course
0,vijesh.hingu@spit.ac.in,Vijesh Mitesh Hingu,2021300042,COMP,6,ASTITVA
1,dhruvil.doshi@spit.ac.in,Dhruvil Doshi,2021300027,COMP,6,ASTITVA
2,aditya.choudhary@spit.ac.in,Aditya Choudhary,2021300022,COMP,6,ASTITVA
3,kunal.bhatia@spit.ac.in,Kunal Bhatia,2021300010,COMP,6,ASTITVA
4,ameya.dabholkar@spit.ac.in,Ameya Dabholkar,2021300023,COMP,6,ASTITVA
5,siddhant.rao@spit.ac.in,Siddhant Paritosh Rao,2021600055,CSE-AIML,6,ASTITVA
6,rahul.shinde@spit.ac.in,rahul shinde,2021600061,CSE-AIML,6,ASTITVA
7,vansh.talwar@spit.ac.in,Vansh Talwar,2021600064,CSE-AIML,6,ASTITVA
8,divya.raichura@spit.ac.in,Divya Raichura,2021600052,CSE-AIML,6,ASTITVA
9,aditya.kadam@spit.ac.in,Aditya Kadam,2021200046,EXTC,6,ASTITVA

In [38]:
final.shape

(17850, 6)

In [39]:
final.to_csv(os.path.join(data_dir, 'allsem.csv'), index=False)

In [40]:
final.sort_values(by=['course', 'sem', 'branch', 'uid'])

,email,name,uid,branch,sem,course
25,soham.ghorpade23@spit.ac.in,Soham Amol Ghorpade,2023300064,COMP,2,ASTITVA
780,soham.ghorpade23@spit.ac.in,Soham Amol Ghorpade,2023300064,COMP,2,ASTITVA
1535,soham.ghorpade23@spit.ac.in,Soham Amol Ghorpade,2023300064,COMP,2,ASTITVA
2315,soham.ghorpade23@spit.ac.in,Soham Amol Ghorpade,2023300064,COMP,2,ASTITVA
3095,soham.ghorpade23@spit.ac.in,Soham Amol Ghorpade,2023300064,COMP,2,ASTITVA
...,...,...,...,...,...,...
17811,aryan.adav22@spit.ac.in,Aryan Ambarish Adav,2022201001,EXTC,6,yoga 1
11289,nilesh.admane22@spit.ac.in,Nilesh Sahebrao Admane,2022201002,EXTC,6,yoga 1
14336,nilesh.admane22@spit.ac.in,Nilesh Sahebrao Admane,2022201002,EXTC,6,yoga 1
16071,nilesh.admane22@spit.ac.in,Nilesh Sahebrao Admane,2022201002,EXTC,6,yoga 1
17813,nilesh.admane22@spit.ac.in,Nilesh Sahebrao Admane,2022201002,EXTC,6,yoga 1

In [42]:
normalized_course_names = courses['course_name'].tolist()
normalized_course_names

['Art of living',
 'Introduction to Bhagvadgita',
 'Pranvidya',
 'Yog Vidya',
 'Mentoring of School Children (Abhudaya)',
 'Mentorship to Juniors',
 'NSS',
 'Principle Centered Leadership',
 'Teaching Assistantship',
 'Terrace Gardening',
 "Volunteering at Dr. Amte's Anandvan",
 'Wall Painting',
 'Working with NGO',
 'Astitva',
 'Kathak',
 'Physical Fitness',
 'Running',
 'Self Defense for Women',
 'Skipping',
 'Sports',
 'Staircase Climbing',
 'Swimming',
 'Taekwondo',
 'Trekking',
 'Basic Cooking',
 'Basic of Fire Safety',
 'Basics of Keyboard playing',
 'Basics of Music Composition',
 'Design Thinking',
 'Film Appreciation',
 'Fundamentals of Photography',
 'Idea Lab',
 'Indian Knowledge System',
 'Innovation and Creativity',
 'Read a book',
 'Short Film Making/ Cinematography',
 'Social Psychology',
 'Study of Life',
 'Technology Entrepreneurship',
 'Integrated Personality Development',
 'Jeevan Vidya (Work Life Balance)',
 'Universal Human Value']

In [49]:
import difflib

difflib.get_close_matches('Technology', normalized_course_names)

[]

In [73]:
import numpy as np

def find_closet_match(test_str, list2check):
    scores = {}
    test_str = test_str.lower()
    for ii in list2check:
        cnt = 0
        if len(test_str)<=len(ii):
            str1, str2 = test_str, ii
        else:
            str1, str2 = ii, test_str
        for jj in range(len(str1)):
            cnt += 1 if str1[jj]==str2[jj] else 0
        scores[ii] = cnt
    scores_values = np.array(list(scores.values()))
    closest_match_idx = np.argmax(scores_values)
    # closest_match_idx = np.argsort(scores_values, axis=0, kind='quicksort')[-3:]
    closest_match = np.array(list(scores.keys()))[closest_match_idx]
    return closest_match, closest_match_idx

In [74]:
find_closet_match('Personality', [i.lower() for i in normalized_course_names])

('physical fitness', 15)