In [2]:
import os
import pandas as pd
import numpy as np
data_dir = '../data'

In [5]:
sheet1 = pd.read_excel(os.path.join(data_dir, 'odd sem 2022-23.xlsx'), sheet_name='Sheet1')
sheet1.head()

,Email Address,Name (as in the college records),UID No.,Class (to be entered in next Semester),Branch,Course Allocated,Sem
0,dilip.patel@spit.ac.in,Dilip Mahadev Patel,2020300051,TY,COMP,Design Thinking,5
1,prince.mishra@spit.ac.in,Prince Vireshwar Mishra,2020300043,TY,COMP,Design Thinking,5
2,nikhil.naik@spit.ac.in,Nikhil Madhukar Naik,2020300044,TY,COMP,Design Thinking,5
3,chinmay.pichad@spit.ac.in,Chinmay Vasant Pichad,2020300053,TY,COMP,Design Thinking,5
4,shantanu.milkhe@spit.ac.in,Shantanu Milkhe,2020300042,TY,COMP,Design Thinking,5

In [4]:
courses = pd.read_csv(os.path.join(data_dir, "courses.csv"))
course_names = courses["course_name"].tolist()
course_names

['Art of living',
 'Introduction to Bhagvadgita',
 'Pranvidya',
 'Yog Vidya',
 'Mentoring School Children (Abhyudaya)',
 'Mentorship to Juniors',
 'NSS',
 'Principle Centered Leadership',
 'Teaching Assistantship',
 'Terrace Gardening',
 "Volunteering at Dr. Amte's Anandvan",
 'Wall Painting',
 'Working with NGO',
 'Astitva',
 'Kathak',
 'Physical Fitness',
 'Running',
 'Self Defense for Women',
 'Skipping',
 'Sports',
 'Staircase Climbing',
 'Swimming',
 'Taekwondo',
 'Trekking',
 'Basic Cooking',
 'Basics of Fire Safety',
 'Basics of Keyboard playing',
 'Basics of Music Composition',
 'Design Thinking',
 'Film Appreciation',
 'Fundamentals of Photography',
 'Idea Lab',
 'Indian Knowledge System',
 'Innovation and Creativity',
 'Read a book',
 'Short Film Making/ Cinematography',
 'Social Psychology',
 'Study of Life',
 'Technology Entrepreneurship',
 'Integrated Personality Development',
 'Jeevan Vidya (Work Life Balance)',
 'Universal Human Value']

In [6]:
sheet1["course"].unique()

KeyError: 'course'